#cloud-config
network:
  version: 2
  ethernets:
  %{for interface in interfaces ~}
    ${interface.interface_name}:
    %{ if interface.dhcp == "True"}
        dhcp4: yes
    %{ else }
        addresses:
          - ${interface.ipv4_address}
        gateway4: ${interface.gateway}
        nameservers: 
          addresses:
            - 8.8.8.8
            - 8.8.4.4
    %{ endif }
  %{ endfor ~}